[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
graphene-django = "*"
neo4j = "*"
py2neo = {editable = true,version = "*"}
graphene-django-subscriptions = {editable = true,version = "*"}
autopep8 = "*"
pylint = {editable = true,version = "*"}

[requires]
python_version = "3.7"
